@charset "utf-8";html{background-color:#fff;color:#000;font-size:12px}
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,figure,form,fieldset,legend,input,textarea,button,p,blockquote,th,td,pre,xmp{margin:0;padding:0}
body,input,textarea,button,select,pre,xmp,tt,code,kbd,samp{line-height:1.5;font-family:tahoma,arial,"Hiragino Sans GB",simsun,sans-serif}
h1,h2,h3,h4,h5,h6,small,big,input,textarea,button,select{font-size:100%}
h1,h2,h3,h4,h5,h6{font-family:tahoma,arial,"Hiragino Sans GB","微软雅黑",simsun,sans-serif}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal}
address,cite,dfn,em,i,optgroup,var{font-style:normal}
table{border-collapse:collapse;border-spacing:0;text-align:left}
caption,th{text-align:inherit}
ul,ol,menu{list-style:none}
fieldset,img{border:0}
img,object,input,textarea,button,select{vertical-align:middle}
article,aside,footer,header,section,nav,figure,figcaption,hgroup,details,menu{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
blockquote:before,blockquote:after,q:before,q:after{content:"\0020"}
textarea{overflow:auto;resize:vertical}
input,textarea,button,select,a{outline:0 none;border: none;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
mark{background-color:transparent}
a,ins,s,u,del{text-decoration:none}
sup,sub{vertical-align:baseline}
html {overflow-x: hidden;height: 100%;font-size: 50px;-webkit-tap-highlight-color: transparent;}
body {font-family: Arial, "Microsoft Yahei", "Helvetica Neue", Helvetica,sans-serif;height: 100%;color: #333;font-size: .28em;line-height: 1;-webkit-text-size-adjust: none;}
hr {height: .02rem;margin: .1rem 0;border: medium none;border-top: .02rem solid #cacaca;}
a {color: #25a4bb;text-decoration: none;}
html,body{
  overflow: hidden;
}

.page4_title h2, .page3_title h2, .page12_title h2 {
  color: #566b68;
  background-size: 20% 100%;
  background-repeat: no-repeat;
  padding-top: 1rem;
  padding-left: 5rem;
  padding-bottom: 0.5rem;
  margin: 0 0 0 5%;
  font-size: 1rem
}

.page3_top {
  width: 100%;
  margin-left: 2rem;
}
.page3_top img, .page3_bottom img {
  width: 100%;
}

.page5, .page35, .page33 {
  width: 100%;
  height: 100%;
  background-position: center bottom;
  background-size: 100% 100%;
}
.page33-t, .page5-ct {
  background-repeat: no-repeat;
  background-position: left center;
  margin-top: 1rem;
  padding-left: 20%;
  width: 90%;
  margin-left: 10%;
  height: 4rem;
  line-height: 3.2rem;
  box-sizing: border-box;
  border-bottom: solid 1px #a6d472;
  background-size: 50% 100%;
}
.page33-t h3, .page5-ct h3{
  font-size: 1.4rem;
  color: #566b68;
  font-weight: bold;
}
.page8_desc1 h4, .page8_desc2 h4, .page13_desc h4, .page13_desc2 h4, .page18_desc h4, .page18_desc2 h4 {
  background: url(../img/page6-img-bg.png) no-repeat left bottom;
  background-size: 50% 40%;
  width: 90%;
  padding: 1rem 0 1.5rem 1rem;
  margin-left: 3%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.page8_title h2, .page9_title h2, .page10_title h2, .page11_title h2, .page13_title h2, .page14_title h2, .page15_title h2, .page16_title h2, .page18_title h2 {
  color: #566b68;
  background: url(../img/page3-title.png) no-repeat left top;
  background-size: 20% 100%;
  padding-top: 1rem;
  padding-left: 4.5rem;
  padding-bottom: 0.8rem;
  font-weight: bold;
}

.page8_desc1 p, .page13_desc p, .page18_desc p, .page23_desc p, .page28_desc p {
  color: #611514;
  font-size: 0.8rem;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2rem;
  text-indent: 2em;
}

.page8_desc1, .page13_desc, .page18_desc {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.page8_desc1 p, .page13_desc p, .page18_desc p, .page23_desc p, .page28_desc p {
  color: #611514;
  font-size: 0.8rem;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
}

.page8_desc2, .page13_desc2, .page18_desc2 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.page8_desc2 p, .page13_desc2 p, .page18_desc2 p, .page23_desc2 p, .page28_desc2 p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.8rem;
  color: #611514;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2rem;
  text-indent: 2em;
}

.page8_title h3, .page9_title h3, .page10_title h3, .page11_title h3, .page13_title h3, .page14_title h3, .page15_title h3, .page16_title h3, .page18_title h3 {
  margin-bottom: .5rem;
  padding-left: 0.5rem
}

.page8_title h3, .page9_title h3, .page10_title h3, .page11_title h3, .page13_title h3, .page14_title h3, .page15_title h3, .page16_title h3, .page18_title h3 {
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  padding-left: 0.5rem;
  font-weight: bold;
}

.page9_desc h4, .page9_desc2 h4, .page9_desc3 h4, .page24_desc h4, .page24_desc2 h4, .page24_desc3 h4, .page29_desc h4, .page29_desc2 h4, .page29_desc3 h4 {
  background: url(../img/page6-img-bg.png) no-repeat left bottom;
  background-size: 50% 40%;
  width: 90%;
  padding: 1rem 0 1.5rem 1rem;
  margin-left: 1%;
  margin-bottom: 1rem;
  font-weight: bold;
}

.page9_desc, .page14_desc, .page24_desc, .page29_desc {
  width: 90%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.page9_desc p, .page14_desc p, .page24_desc p, .page29_desc p {
  color: #611514;
  text-indent: 2em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.page9_desc2, .page14_desc1, .page24_desc2, .page29_desc2 {
  width: 90%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.page9_desc2 p, .page14_desc1 p, .page24_desc2 p, .page29_desc2 p {
  color: #611514;
  text-indent: 2em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.page9_desc3, .page14_desc2, .page24_desc3, .page29_desc3 {
  width: 90%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.page9_desc3 p, .page14_desc2 p, .page24_desc3 p, .page29_desc3 p {
  color: #611514;
  text-indent: 2em;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
  line-height: 1.2rem;
}



.page{
  width: 100%;
  height: 100%;
}
